*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    background-color: black;
}
.container{
    width: 100%;
    height: 95vh;
    background: rgb(4, 4, 4);
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery{
    display: flex;
    align-items: center;
    justify-content: center;
}
.img-box{
    width: 100px;
    height: 500px;
    margin: 10px;
    border-radius: 50px;
    background: url(/images/aguaman.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
    transition: width 0.5s;
}
.img-box:nth-child(2){
    background: url(/images/cyborg.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(3){
    background: url(/images/linternaverde.jpg);
    background-size: cover;
    background-position: center;
}.img-box:nth-child(4){
    background: url(/images/flash.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(5){
    background: url(/images/superman.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(6){
    background: url(/images/batman.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(7){
    background: url(/images/wonderwoman.jpg);
    background-size: cover;
    background-position: center;
}.img-box:nth-child(8){
    background: url(/images/shazam.jpg);
    background-size: cover;
    background-position: center;
}
.img-box:nth-child(9){
    background: url(/images/marcian.jpg);
    background-size: cover;
    background-position: center;
}
.img-box h3{
    color: #fff;
    position: absolute;
    bottom: 0;
    left: 30px;
    opacity: 0;
    transition: bottom 0.5s, opacity 0.5s;
    background-color: black;
    border-radius: 100px;
    text-shadow: rgb(255, 255, 254) 0 0.0em 0.60em;
}
.img-box:hover{
    width: 300px;
    cursor: pointer;
}
.img-box:hover h3{
    opacity: 1;
    bottom: 25px;
}
.footer{
    text-align: center;
    justify-content: center;
    font-size: 25px;
    position: relative;
    top: -20px;
}
.footer ul a i{
    background-color: #fff;
    border-radius: 10px;
    text-shadow: rgb(255, 255, 254) 0 0.0em 0.60em;

}